{
  "trailingComma": "all",
  "overrides": [
    {
      "files": ["**/package.json.hbs"],
      "options": {
        "parser": "json"
      }
    },
    {
      "files": ["**/*.tsx.hbs"],
      "options": {
        "parser": "typescript"
      }
    }
  ]
}
