@import "tailwindcss";

@custom-variant betterhover (@media (hover: hover));

@layer base {
  @theme {
    --color-blue-1000: #2a8af6;
    --color-purple-1000: #a853ba;
    --color-red-1000: #e92a67;
    --color-rose-400: #b56b78;

    /* Custom gray palette */
    --color-gray-1000: #111111;
  }
}
