@import "tailwindcss";
@import "@kavita-likes-fajitas/tailwind-config/shared-styles";
@import "@kavita-likes-fajitas/shadcn-ui-lib/styles/global.css";
@config "../tailwind.config.ts";

:root {
  --background: var(--color-gray-950);
  --foreground: var(--color-white);
}

.font-midnight-gelactic {
  font-family: var(--font-midnight-gelactic);
}
.font-helvetica-neue {
  font-family: var(--font-helvetica-neue);
}
body {
  min-height: 100vh;
  background: var(--color-gray-950);
  color: text-white;
  font-family: Arial, Helvetica, sans-serif;
}
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-helvetica-neue), Helvetica, Arial, sans-serif;
}
