@import "tailwindcss";
@import "@kavita-likes-fajitas/tailwind-config/shared-styles";
@import "@kavita-likes-fajitas/shadcn-ui-lib/styles/global.css";
@config "../tailwind.config.ts";

html,
body,
div#__next {
  height: 100%;
  width: 100%;
  min-height: 100%;
}
@-ms-viewport {
  width: device-width;
  height: device-width;
}
.font-midnight-gelactic {
  font-family: var(--font-midnight-gelactic);
}
.font-helvetica-neue {
  font-family: var(--font-helvetica-neue);
}
body {
  min-height: 100vh;
  background: var(--color-gray-950);
  color: #ffffff;
  font-family: var(--font-helvetica-neue), Helvetica, Arial, sans-serif;
}
